<form method="get" action="/search" id="zoekForm">
    <input id="zoekbalk" type="search" name="q" placeholder="Zoek naar kunst...">
    <button type="submit" id="zoekButton" value="search">Zoeken</button>
</form>