<header>
    <h1>Rijksmuseum</h1>
    <p>Een historisch museum waar altijd iets nieuws te ontdekken is. Het Rijksmuseum kijkt met de blik van nu naar de kunst van toen. Zo verzeker je jezelf steeds weer van een bijzonder bezoek.</p>
    <p>Dagelijks 9 tot 17u</p>
    <p>Al leuk vanaf 4 jaar</p>
    <p>Gratis t/m 18 jaar</p>
</header>
